.sidenav-content {
  height: 100vh;
}

.sidenav {
  min-width: 15%;
}

.sidenav * {
  display: block;
  margin: 0 25px;
}

#menu {
  font-size: 20pt;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Nova Square', cursive;
}
