<div class="image-upload-container">
  <h3 *ngIf="!selectedFile">Select an image</h3>
  <br>
  <div class="wrapper">
    <div class="file-upload">
      <input #imageInput
             type="file"
             accept="image/*"
             id="upload-image-input"
             (change)="processFile(imageInput)">
      <mat-icon id="arrow">arrow_upward</mat-icon>
    </div>
  </div>
</div>

<div *ngIf="selectedFile" class="img-preview-container">

  <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
       [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
  </div>

  <div *ngIf="selectedFile.pending" class="img-loading-overlay">
    <div class="img-spinning-circle"></div>
  </div>

  <div *ngIf="selectedFile.status === 'ok'" [ngClass]="['alert', 'alert-success']"> Image Uploaded Successfully!</div>
  <div *ngIf="selectedFile.status === 'fail'" [ngClass]="['alert', 'alert-danger']"> Image Upload Failed!</div>
</div>
