<div *ngIf="!selectedFile || selectedFile.status === 'fail'" class="image-upload-container">
  <h3>Select an image</h3>
  <br>
  <div class="wrapper">
    <div class="file-upload">
      <input #imageInput
             type="file"
             accept="image/*"
             id="upload-image-input"
             (change)="processFile(imageInput)">
      <mat-icon id="arrow">arrow_upward</mat-icon>
    </div>
  </div>
</div>

<div *ngIf="selectedFile && selectedFile.pending" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="selectedFile && selectedFile.status === 'ok'" class="img-preview-container">

  <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
       [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
  </div>
  <button class="btn btn-warning" *ngIf="selectedFile.status === 'ok'" (click)="disposeImage()">Dispose</button>

  <div *ngIf="selectedFile.pending" class="img-loading-overlay">
    <div class="img-spinning-circle"></div>
  </div>
</div>
