<div *ngIf="!selectedFile || selectedFile.status === 'fail'" class="image-upload-container">
  <h3>1. Select a scaling factor </h3>
  <mat-slider min="1" max="3" step="1" value="1" thumbLabel
  [displayWith]="formatLabel" (input)="changeScale($event)"></mat-slider>
</div>
<div *ngIf="!selectedFile || selectedFile.status === 'fail'" class="image-upload-container">
  <h3>2. Select an image (once you have selected a scale, the conversion will begin automatically.)</h3>
  <br>
  <div class="wrapper">
    <form class="file-upload">
      <input #imageInput
             type="file"
             accept="image/*"
             id="upload-image-input"
             (change)="processFile(imageInput)">
      <mat-icon id="arrow">arrow_upward</mat-icon>
    </form>
  </div>
</div>

<div *ngIf="selectedFile && selectedFile.pending" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="selectedFile && selectedFile.status === 'ok'" class="img-preview-container">

  <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
       [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
  </div>

  <div *ngIf="selectedFile.pending" class="img-loading-overlay">
    <div class="img-spinning-circle"></div>

  </div>
</div>
