$input-color: #6A1B9A;

:host{
  display: block;
  width: 100%;
  height: 100%;
}

.image-upload-container{
  text-align: center;
  margin-top: 10%;
}

.wrapper{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;

  .file-upload{
    height:200px;
    width:200px;
    border-radius: 100px;
    position:relative;

    display:flex;
    justify-content:center;
    align-items: center;

    border:1px solid #FFFFFF;
    overflow:hidden;
    background-image: linear-gradient(to bottom, $input-color 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size:100px;

    input[type='file']{
      height:200px;
      width:200px;
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      cursor:pointer;
    }

    &:hover{
      background-position: 0 -100%;
      color: $input-color;
    }
  }
}

.success-snackbar {
  background-color: lightgreen;
}
.danger-snackbar {
  background-color: lightcoral;
}

.spinner{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
